@import "../../../site/lbd/global/variables";
@import "../../../site/lbd/global/mixins";

.lbd-user-info {
    margin: 10px 0;
    width: 100%;
    overflow-x: hidden;
    &-item {
        background: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0.3rem 0.26rem;
        position: relative;
        @include drawBorderWithPadding('after', 'bottom', $border-light, 0.26rem)
        &:nth-child(3), &:nth-child(6) {
            margin-bottom: 10px;
        }
        &:nth-child(3):after, &:nth-child(6):after {
            content: none;
        }
    }
    &-title {
        color: $font-gray-dark;
        font-size: 16px;
        white-space: nowrap;
        margin-right: 0.2rem;
    }
    &-content {
        color: $font-gray-light;
        font-size: 14px;
        text-align: right;
        flex: 1;
    }
}
