//Application Colors
$global-green: #38bc9b;
$global-orange: #ff7200;

$font-gray-light: #b9b9b9;
$font-gray-normal: #666;
$font-gray-dark: #333;

$border-light: #eee;
$border-dark: #d3d3d3;

$bg-gray: #f0f0f0;

//ontouch onhover
$global-green-touch: #32a98d;
$global-white-touch: #e5e5e5;
