@import '../../../global/base';

.index-error {
    background: #fff;
    text-align: center;
}

.errorImg {
    padding-top: 2rem;
    img {
        width: 5.25rem;
    }
}

.errorMeg {
    color: $font-gray-light;
    padding: 0.5rem 0 2rem 0;
}

@media all and (max-height: 480px) and (orientation: landscape) {
    .errorImg {
        padding-top: 1rem;
        img {
            width: 3.25rem;
        }
    }
    .errorMeg {
        padding: 0.2rem 0 0.5rem 0;
    }
}

