@import "../../../site/lbd/global/variables";
@import "../../../site/lbd/global/mixins";

.lbd-comment-item {
    padding: 0.35rem 0 0 0.26rem;
    display: flex;
    &-left {
        margin-right: 0.2rem;
    }
    &-right {
        flex: 1;
        padding: 0 0.26rem 0.35rem 0;
        position: relative;
        @include drawBorder('after', 'bottom', $border-light);
    }
    &-header {
        margin-bottom: 0.1rem;
        font-size: 14px;
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    &-info {
        display: table-cell;
        vertical-align: top;
        width: 70%;
    }
    &-name {
        color: $font-gray-dark;
    }
    &-nickname {
        color: $font-gray-light;
        margin-left: 5px;
    }
    &-body {
        color: $font-gray-normal;
        font-size: 14px;
        line-height: 18px;
    }
    &-content {
        white-space: pre-wrap;
        word-break: break-word;
        display: inline;
    }
    &-tag {
        margin-right: 5px;
        vertical-align: top;
    }
    &-change {
        display: table-cell;
        text-align: right;
        color: $font-gray-light;
        font-size: 12px;
    }
    &-at {
        color: $global-green;
    }
    &-gallary {
        margin-top: 0.14rem;
        margin-bottom: -0.2rem;
    }
    &-footer {
        padding-top: 0.1rem;
        color: $font-gray-light;
    }
}
