@import "../../../site/lbd/global/variables";
@import "../../../site/lbd/global/mixins";

.lbd-candidate-item {
    padding: 0.35rem 0.26rem 0 0.26rem;
    &-header {
        margin-bottom: 0.22rem;
    }
    &-name {
        font-size: 16px;
        font-weight: 500;
        color: $font-gray-dark;
        margin-right: 0.2rem;
    }
    &-status {
        color: $font-gray-normal;
        vertical-align: middle;
    }
    &-info {
        font-size: 14px;
        color: $font-gray-normal;
        padding-bottom: 0.15rem;
    }
    &-footer {
        position: relative;
        padding-top: 11px;
        padding-bottom: 15px;
        font-size: 14px;
        color: $font-gray-dark;
        @include drawBorder('before', 'top', $border-light)
    }
    &-between {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-truncate {
        text-overflow: ellipsis;
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
    }
    &-align-right {
        text-align: right;
        white-space: nowrap;
        color: $font-gray-light;
        font-size: 12px;
    }
    &-line {
        display: flex;
        align-items: center;
    }
    &-padding {
        padding-left: 10px;
        vertical-align: middle;
    }
}


